p{
    background-color: lightpink;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

#secnd{
    color: blue;
    font-size: 36px;
}

.med_size{
    font-size: 24px;
}

#fth{
    background-color: lightgreen;
    font-weight: bold;
}